html, body {
    font-family: 'Nunito', sans-serif;
    background: #edeef0;
    min-height: 100%;
    margin: 0;
}

main {
  margin-bottom: 9rem;
}

html {
  min-height: 100%;
  position: relative;
}

#logout-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

#logout {
  margin-right: 100px;
}

#personal-data {
  width: 450px;
  height: 150px;
  background: #fff;
  border: 1px solid #e3e4e8;
  border-radius: 5px;
}

#photo {
  width: 225px;
  height: 250px;
  background: #fff;
  border: 1px solid #e3e4e8;
  border-radius: 5px;
}

#photo img {
  height: 80%;
  width: 90%;
  margin: 11px 11px -35px 11px;
}

#img-link {
  margin: 10px 10px 5px 35px;
  color: #28548b;
  font-size: 0.9rem;
}

#edit-link {
  color: #28548b;
  font-size: 0.9rem;
  padding-left: 25px;
  margin: 15px 30px 0px 30px;
  border-radius: 5px;
  background: #e5ebf1;
  padding: 3px 5px 3px 30px;
  display: block;
}

#edit-link:hover {
  background: #dfe6ed;
  text-decoration: none;
}

#left-navbar a {
  color: #28548b;
  font-size: 0.9rem;
  padding: 4px 40px 4px 0px;
}

#left-navbar li {
  margin-top: 7px;
}

#left-navbar a:hover {
  background: #e1e5eb;
  text-decoration: none;
}

#phone-link {
  display: block;
}

#navbar {
  background: #4a76a8;
}

#footer {
  position: absolute;
  bottom: 0;
  background: #edeef0;
}

#left-phone {
  margin-right: -50px;
}

#app {
  background: #edeef0;
  min-height: 100%;
}

#navbar-brand img {
  width: 3rem;
  margin-left: 65px;
}

#navbar-right {
  font-size: 1.2rem;
}

#navbar-right a:hover {
  background: #3d6898;
}

#phone-link a:hover {
  background: #cecece;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
